<!-- The email isn't really being sent, made it just for show  -->

<div class="card">
  <form action="#/thankYou">
    <p> Name: &nbsp<input type="text" ng-model="name" placeholder="Your name ..."></p>
    <p> Email: &nbsp&nbsp<input type="email" ng-model="email" placeholder="Your email ..."></p>
    <p> Message: </p>
    <textarea class="contact-message" rows="4" cols="56" ng-model="message" placeholder="Enter your message here ..."></textarea>
    <input type="submit" class="contact-button" value="Send" ng-click="setValues(name, email)"/>
  </form>
</div>
