<div class="card">
  <h2> IBM Software Developer </h2>
  <p> I worked for a company called Megatrend d.o.o where I had a title of Junior Software Developer. </p>
  <p> I was building new applications and administrating existing ones on private IBM servers. Technologies I mainly used : </p>
  <ul class="skills">
    <li> Visual Basic </li>
    <li> JavaScript </li>
    <li> SOAP </li>
    <li> REST </li>
    <li> IBM Notes </li>
  </ul>
</div>

<div class="card">
  <h2> AngularJS & C# Developer </h2>
  <p> Worked with AngularJS and C# mostly as a freelancer for a company which mainly had clients from Canada. Worked on lots of different projects mainly building web services and front-end applications </p>
  <p> This is where I made my first leap from regular JavaScript to AngularJS and it helped me a lot in my future carrer. </p>
  <ul class="skills">
    <li> AngularJS </li>
    <li> Ionic </li>
    <li> C# </li>
    <li> T-SQL </li>
    <li> Visual Studio </li>
  </ul>
</div>
