<div class="card">
  <h2>Background</h2>
  <p>I’m an aspiring developer who loves everything about programming. I've worked with lots of different technologies and started web development just recently. I’m excited to bring my life experience to the process of building fantastic applications.</p>
  <p>I’m a life-long learner who's always interested in expanding my skills and knowledge.</p>
</div>

<div class="card">
  <h2>Goals</h2>
  <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
  <ul class="skills">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>MySQL</li>
  </ul>
  <p>I’d like to work for a software development firm and work with complex systems.</p>
</div>
